<%- include ('../_layouts/adminHeader.ejs'); -%>

<div class="mt-4">
    <h2 class="page-title">Edit Cateorys</h2>
    <a href="/admin/categorys" class="btn btn-primary">Back to all Cateorys</a>
    <div class="mt4">
        <form action="/admin/categorys/edit-category/<%= slug %>" method="post">
            <div class="form-group">
                <label for="">Title</label>
                <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
            </div>
            <input type="hidden" name="id" value="<%= id %>">
            <button class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
<div class="mt4">
    <h3 class="text-center">@Edit Cateorys</h3>
</div>

<%- include ('../_layouts/adminFooter.ejs'); -%>